@media (max-width:600px)
{
    .top-nav{
        display: flex !important;
    } 
    header{
        display: none;
    }
    .logo{
        background: url(../img/LPO6880.jpg);
        background-size: cover;
        border-radius: 10px;
        height: 45px;
        width: auto;
        aspect-ratio: 2/1;
        flex-grow: 0;
    }
    head{
        letter-spacing: 1rem;
    }
    .line{
        flex-direction: column-reverse;
        border: 3px white solid;
        border-radius: 10px;
    }
    .line ~.line{
        flex-direction: column;
    }
    .text1, .text2{
        margin-top: 10px;
    }
    footer{
        flex-direction: column;
    }
    .icons{
        width: 100vw;
        margin-bottom: 10px;
    }
.footer-nav-item{
    font-size: calc(0.5em + 1vw);
}
}